@use "../../../styles/basic/variables" as vars

.wrapper
  display: flex
  align-items: baseline

.name
  font-size: vars.$font-size-24
  font-weight: 700

.sex
  font-size: vars.$font-size-24
  margin-right: .5em

.age
  font-size: vars.$font-size-14
  opacity: .7