{
  "env": {
    "browser": true,
    "es2021": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "standard-with-typescript",
    "@solid/eslint-config-base"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "project": "jsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": 0,
    "comma-spacing": ["error", { "before": false, "after": true }],
    "no-param-reassign": ["error", { "props": false }],
    "no-default-export": 0,
    "no-continue": 0,
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    // "indent": ["error", 2],
    "no-irregular-whitespace": 2,
    "no-trailing-spaces": 0,
    "multiline-comment-style": 0,
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }],
    "eol-last": ["error", "always"],
    "arrow-parens": 0,
    "no-multi-spaces": 2,
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "generator-star-spacing": 0,
    "array-bracket-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "keyword-spacing": 2,
    "space-infix-ops": 0,
    "no-use-before-define": ["error", { "functions": false }],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "no-restricted-globals": [0, "self"],
    "no-nested-ternary": 0,
    "@typescript-eslint/indent": [
      "error",
      2
    ],
    "@typescript-eslint/strict-boolean-expressions": [0, {
      "allowNullableObject": true
    }],
    "@typescript-eslint/restrict-template-expressions": [2, {
      "allowNumber": true
    }],
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/space-infix-ops": 2,
    "@typescript-eslint/type-annotation-spacing": [
      2,
      {
        "before": false,
        "after": true,
        "overrides": { "arrow": { "before": true, "after": true }}
      }
    ],
    "@typescript-eslint/promise-function-async": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/consistent-type-imports": 0,
    "@typescript-eslint/naming-convention": 0,
    "@typescript-eslint/prefer-nullish-coalescing": [0, {
      "ignoreMixedLogicalExpressions": true
    }]
  }
}
