@use "../../../styles/basic/breakpoints"
@use "../../../styles/basic/variables" as vars
@use "../../../styles/common/view"

.wrapper
  @include view.dialog-wrapper

.inputs
  padding-bottom: 0

.search
  flex-grow: 1

.radio-wrapper
  display: flex
  padding-left: 0
  flex-direction: column
  align-items: flex-start
  gap: 8px
  padding-top: 10px

.radio
  flex-shrink: 1
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.list-wrapper
  display: flex
  flex-direction: column
  height: 100%

  @include breakpoints.breakpoint-desktop
    display: block

.list
  max-height: 100%
  margin-top: auto

  @include breakpoints.breakpoint-desktop
    height: 100%

