@use "../../../styles/basic/breakpoints"

.wrapper
  height: 100%
  display: flex
  overflow: hidden

  @include breakpoints.breakpoint-portrait
    flex-direction: column

  @include breakpoints.breakpoint-landscape
    flex-direction: row