$color-black: #1E1E1F
$color-metal: #31363B
$color-gray: #A0A4A6
$color-silver: #DFE2E2
$color-white: #F5F5F5
$color-blue: #0A95FF
$color-green: #15E029
$color-red: #FF3341
$color-orange: #FF801F
$color-yellow: #FFE74C
