$grid-gutter: 6px
$layout-breakpoint: 1024px

$border-radius: 3px

$font-size-8: 8px
$font-size-12: 12px
$font-size-14: 14px
$font-size-16: 16px
$font-size-20: 20px
$font-size-24: 24px
$font-size-28: 28px

$ratio-color: .2
$ratio-opacity: .5
$base-percents: 20%

$shadow-basic: 0 2px 2px -1px rgba(0, 0, 0, 0.05)

$input-height: 3em
