@use "sass:string"
@use "../basic/variables" as vars

@mixin input-placeholder
  user-select: none
  position: absolute
  font-size: vars.$font-size-14
  top: calc(vars.$font-size-14 - 1em)
  text-shadow: 0 1px 2px var(--color-bg)
  left: 1.25em
  color: var(--color-input-border-accent)
  transition: .2s
  line-height: 1em
  white-space: nowrap


@mixin input-field
  background-color: rgba(150, 150, 150, 0.07)
  border-radius: vars.$border-radius
  // border-style: solid
  border-width: 0px
  // border-color: var(--color-input-border)
  box-sizing: border-box
  color: var(--color-text)
  font-size: vars.$font-size-16
  font-weight: 500
  padding: 0 1.25em
  box-shadow: vars.$shadow-basic
  height: vars.$input-height
  outline: none
  display: inline-flex
  align-items: center
  width: 100%
  min-width: 100%
  transition: all .2s, opacity .5s


@mixin input-wrapper
  display: block
  position: relative
  padding-top: calc(vars.$font-size-14 / 2 + 0px)

  &.disabled
    opacity: .5

  .placeholder
    @include input-placeholder

  input,
  select
    @include input-field

    &:focus
      border-color: var(--color-input-border-accent)

      & + .placeholder
        color: var(--color-input-border-accent)


    &::placeholder
      color: var(--color-input-border-accent)
      opacity: .5

    &:placeholder-shown + .placeholder
        opacity: 0
        background-color: transparent
        font-size: vars.$font-size-16
        top: 1.25em

  .icon
    position: absolute
    line-height: 1em
    font-size: 1.25em
    top: calc(50% - .325em )
    left: 1.25em

    & + input,
    & + select
      padding-left: 3.25em

      &:placeholder-shown + .placeholder
        left: 3em

    & + select
      & option
        & > i
          font-style: none
          margin-left: -2em
          transform: translateX(-2em)

@mixin checkbox-wrapper
  display: inline-block
  font-size: vars.$font-size-16
  user-select: none

  &.disabled
    opacity: .5
    pointer-events: none

  .switch
    background-color: var(--color-bg)
    border-radius: vars.$border-radius
    border-style: solid
    border-width: 1px
    border-color: var(--color-input-border)
    box-shadow: vars.$shadow-basic
    width: 1.25em
    height: 1.25em
    display: inline-block
    vertical-align: middle
    margin-right: .5em
    margin-top: -2px
    position: relative

    &::after
      content: ""
      position: absolute
      width: calc(100% - 8px)
      height: calc(100% - 8px)
      background-color: var(--color-blue)
      border-radius: 2px
      top: 4px
      left: 4px
      display: none

  &:hover
    .switch
      border-color: var(--color-input-border-accent)

  input
    display: none

    &:checked + .switch
      &::after
        display: block

