@use "../../../styles/basic/variables" as vars
@use "../../../styles/common/input"

.informers
  padding-top: (vars.$grid-gutter * 2)

.content
  flex-grow: 1
  flex-shrink: 1
  overflow: auto

.hidden
  display: none

.options-button
  min-width: 5em

.goals
  &:active
    transform: scale(.95)
    transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1)
