.wrapper
  position: fixed
  bottom: 0px
  left: 0px
  height: 1px
  width: 100%
  overflow: visible

  .overlay
    background-color: rgba(0, 0, 0, 0.6)
    top: 0
    left: 0
    width: 100%

  .dialog
    display: flex
    transition: transform .2s ease-in
    transform: translateY(100%)
    box-sizing: border-box
    flex-direction: column
    background-color: var(--color-bg)
    border-radius: 5px 5px 0px 0px
    border: 1px solid var(--color-blue)
    position: absolute
    height: calc(100vh - 20px)
    bottom: 0
    left: 0
    right: 0

    &.open
      transform: translateY(0%)

.children
  flex-grow: 1
  flex-shrink: 1
  overflow: auto
  padding: 20px

@keyframes appear
  0%
    opacity: 0
  100%
    opacity: 1
