@use "sass:math"
@use "../../../styles/basic/variables" as vars
@use "../../../styles/basic/breakpoints"

.container
  padding-left: (vars.$grid-gutter * 2)
  padding-right: (vars.$grid-gutter * 2)

.row
  display: flex
  flex-wrap: wrap
  flex-direction: row
  align-items: flex-start
  margin-left: -#{vars.$grid-gutter}
  margin-right: -#{vars.$grid-gutter}

.col
  padding-left: vars.$grid-gutter
  padding-right: vars.$grid-gutter
  flex-basis: 100%

  @for $i from 1 through 12
    &.col-mobile-#{$i}
      width: #{math.div(100, 12) * $i + '%'}
      flex-basis: #{math.div(100, 12) * $i + '%'}

  &.col-mobile-0
    display: none

  @include breakpoints.breakpoint-tablet
    @for $i from 1 through 12
      &.col-tablet-#{$i}
        width: #{math.div(100, 12) * $i + '%'}
        flex-basis: #{math.div(100, 12) * $i + '%'}

    &.col-tablet-0
      display: none

  @include breakpoints.breakpoint-desktop
    @for $i from 1 through 12
      &.col-desktop-#{$i}
        width: #{math.div(100, 12) * $i + '%'}
        flex-basis: #{math.div(100, 12) * $i + '%'}

    &.col-desktop-0
      display: none

  @include breakpoints.breakpoint-hd
    @for $i from 1 through 12
      &.col-hd-#{$i}
        width: #{math.div(100, 12) * $i + '%'}
        flex-basis: #{math.div(100, 12) * $i + '%'}

    &.col-hd-0
      display: none