@use "../../../styles/basic/variables" as vars
@use "../../../styles/common/view"

.wrapper
  @include view.dialog-wrapper

.basic-nutrients
  font-size: vars.$font-size-12
  display: flex
  opacity: .7

.basic-values
  padding-left: .5em
  display: flex
  gap: 1em