@use "../../../styles/common/input"

.wrapper
  @include input.input-wrapper

  input
    &[type="date"]
      appearance: none

      &::-webkit-inner-spin-button,
      &::-webkit-calendar-picker-indicator
        opacity: 0
        display: none
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
